
/*css mobil layout*/
body{
   flex-direction: column;
   display: flex; 
   margin: 0;
   padding: 0;
   font-family: Aoboshi One;
   width: 100vw;
}

header{
    background-color: #191919;
}

.header-dator{
    display: none;
}


/*filter*/
#filter{
    width: auto;
    height: 3.5vh;
    margin-top: 0.6vh;
    margin-left: 4vw;
}

#vagn{
    width: auto;
    height: 4.5vh;
    cursor: pointer;
    margin-bottom: -1vh;
    margin-top: 0.2vh;
    margin-right: 6vw;
}

.filter-rubrik{
    margin-top: 0.5vh;  
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#filter-icon-text{
    display: flex;
}

hr{
    margin-top: 1vh;
}

aside{
    background-color: #D3D5E0;
    padding-bottom: 1.5vh;
    border-bottom: black solid 2px;

}

.filter-content{
    flex-direction: row;
    display: flex;
}

#tillverkare-rubrik{
    margin-left: 4vw;
    margin-bottom: 1vh;
}

h3, h2{
    margin: 0;
}

.linjer{
    border-color: black;
    border: black solid 1px;
}

.filter-boxar{
    color: #1E2A96;
    display: flex;
    font-size: 0.85rem;

}

.filter-content{
    justify-content: center;
}


/*varor*/
main{
    background-color: #E7E8F1;
    flex-direction: column;
    display: flex;
}

article{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: 4% 4%;
    padding-top: 1vh;
    padding-bottom: 3vh;
    border-radius: 3px;

}

.dator{
    height: 12vh;
    margin-left: 3vw;
    margin-right: 3vw;

}

.betyg{
    height: 12vh;
    margin-left: 3%;
}

.bilder{
    padding-top: 5vh;
    flex-direction: row;
    display: flex;
}

.text{
    text-align: center;
    margin-right: 1vw;
}

.priset-mobil{
    margin: 0;
    text-align: right;
    padding-right: 2vw;
}

.priset{
    display: none;
}

h5{
    font-size: 0.9rem;
    margin: 0;
    margin-top: 2vh;
}

p{
    font-size: 0.65rem;
    margin: 0;
    margin-top: 0.5vh;
}

.köp-knapp{
    background-color: #1E2A96;
    color: white;
    border-radius: 20px;
    padding: 1.5vh 16vw;
    font-size: 0.7rem;
    font-weight: bold;
    margin-top: 2vh;
    border-color: #1E2A96;
}

/*footer*/
footer{
    background-color: #191919;
    color: white;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 5vh;

}

#sociala-medier{
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.media{
    height: 5vh;
}

#adress{
    font-size: 1rem;
}

#mail{
    font-size: 0.9rem;
    text-decoration: none;
    color: #1E2A96;
}

/*Varukorg*/

#Varukorg{
    display: none;
    background-color: #D3D5E0;
}

#rubrik-varukorg{
    margin-left: 4vw;
}

.varukorg-lista{
    background-color: #D3D5E0;

}

.varukorg-artikel {
    display: flex;
    margin-bottom: 2vh;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 3vh;
}

.varukorg-artikel img {
    width: auto; 
    height: 10vh; 
    margin-left: 4vw;
}

.varukorg-text {
    flex: 2;
    text-align: center;
    margin-left: -7vw;
}

.varukorg-namn {
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 3vw;
}

.varukorg-beskrivning{
    font-size: 0.6rem;
    width: 55vw;
    margin-left: 14vw;
}

.varukorg-pris {
    color: #191919;
    font-size: 0.8rem;
    margin-left: 61vw;
    font-weight: bold;
    margin-bottom: -2vh;
    margin-top: 2vh;
}

#total-summa{
    font-weight: bold;
    font-size: 0.95rem;
    margin-top: 1vh;
}

#kassa-knapp{
    background-color: #1E2A96;
    color: white;
    border-radius: 25px;
    padding: 1.7vh 7vw;
    font-size: 0.7rem;
    font-weight: bold;
    border-color: #1E2A96;

}

.summa-position{
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin-left: 6vw;
    margin-right: 6vw;

}

/*Nav - Responsive*/
nav {
    background-color: #191919;
    overflow: hidden;
    border-bottom: 1px solid #191919;
    color: white;
  }
  
nav a {
    float: left;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 17.1px 19.38px; /*Funkar ej med vh eller vw (testa rem)*/
    text-decoration: none;
    font-size: 1rem;
}
  
.rubrik {
    background-color: #191919;
    color: white;
    font-size: 1.5rem;
    font-family: Nico Moji;
    padding:  5.1vw;
    padding-bottom: 2.15vh;
}
  
nav .icon {
    display: none;
}
  
.icon {
    float: left;
    overflow: hidden;
    color: white;
}
  
.icon .iconbtn {
    font-size: 0.5rem;
    border: none;
    outline: none;
    color: #AFADBC;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.icon-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.icon-content a {
    float: none;
    color: black;
    padding: 12px 16px; /*fixa*/
    text-decoration: none;
    display: block;
    text-align: left;
}
  
nav a:hover, .icon:hover .iconbtn {
    background-color: #191919;
    color: white;
}
  
.icon-content a:hover {
    background-color: white;
    color: rgb(255, 255, 255);
}
  
.icon:hover .icon-content {
    display: block;
}
  
@media screen and (max-width: 600px) {
    nav a:not(:first-child), .icon .iconbtn {
      display: none;
    }
    nav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    nav.responsive {position: relative; background-color: #AFADBC;}
    nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    
    nav.responsive .icon {float: none;}
    nav.responsive .icon-content {position: relative;}
    nav.responsive .icon .iconbtn {
      display: block;
      width: 100%;
      text-align: left;
    }


  }

  /*TABLETT*/
  @media only screen and (min-width: 641px) and (max-width:1007px){
    body{
        display:grid;
        grid-template-columns: 30vw 70vw;
        grid-template-rows: 11.5vh 5.8vh 65vh 25vh;
        gap: 0;
        width: 100%;
        overflow-x: hidden;
    }

    /*header*/
    .rubrik{
        display: none;
    }

    .header-dator{
        display: flex;
        grid-column: span 1 / 2;
        grid-row: 1;
        background-color: #191919;
        color: white;
        font-family: Nico Moji;
        font-size: 1.6rem;
        justify-content: space-between;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-bottom: #1E2A96 10px solid;
        width: 100vw;
    }

    h1, #logga, #vagn{
        margin-bottom: 2vh;
    }
    h1{
        margin-bottom: 0;
        margin-top: 1vh;
    }

    #logga{
        height: 7vh;
        margin-left: 4vw;
    }

    #vagn{
        height: 6vh;
        margin-right: 5vw;
    }


    /*nav*/
    .nav-vagn{
        display: none;
    }

    header{
        grid-column: span 1 / 2;
        width: 100vw;
        grid-row: 2;  
        align-items: center;
        justify-content: center;
    }

    nav{
        background-color: #AFADBC;
        padding-left: 8vh;
        border-bottom: #191919 2px solid;
    }

    nav a{font-size: 1.45rem;}


    /*filter*/
    aside{
        grid-column: 1;
        grid-row: 3/4;
        border: none;
    }

    #filter{
        width: auto;
        height: 3vh;
        margin-top: 0.8vh;
        margin-left: 6.5vw;
    }

    .filter-rubrik{
        font-size: 1.5rem;
        margin-top: 1.5vh;
    }
    
    .linjer{
        margin-top: 1vh;
        width: 90%;
        text-align: center;
    }
    
    .filter-content{
        flex-direction: row;
        display: flex;
    }
    
    #tillverkare-rubrik{
        font-size: 1.9rem;
        text-align: center;
        margin: 0;
        margin-top: 2vh;
        margin-bottom: 4vh;
    }
    
    h3, h2{
        margin: 0;
    }
    
    .linjer{
        border-color: black;
        border: black solid 1px;
    }
    
    .filter-boxar{
        color: #1E2A96;
        font-size: 1.6rem;
        flex-direction: column;
        display: flex;
        margin-left: 2vw;
        margin-right: 2vw;
        border-bottom: #191919 solid 2px;

    }

    .dator-brand{
        margin-bottom: 2vh;
    }

    /* dubblar storleken på checkboxarna, i "alla" olika webbläsare */
    input[type=checkbox]{
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
        transform: scale(2);
        padding: 1vh;
        margin-right: 2vw;
    }

    
    .filter-content{
        flex-direction: column;
        display: flex;
    }


    /*artiklar*/


    article{
        display:block;
        margin: 2vh 4vw;
        padding-top: 1vh;
        padding-bottom: 2vh;
    }

    .dator{
        height: 10vh;
        margin: auto;
        margin-right: 10vw;
    
    }
    
    .betyg{
        height: 10vh;
        margin-left: 2vw;
    }
    
    .bilder{
        flex-direction: row;
        display: flex;
        padding: 0;
    }
    
    .text{
        text-align: center;
        margin-right: 1vw;
    }
    
    .text p{font-size: 1rem; margin: 0.5vh 2vw;}

    .text h5{font-size: 1.5rem;}

    .priset{
        display: block;
        margin-right: 2vw;
        text-align: right;
        margin-top: 0;
        font-size: 1.4rem;
    }

    .priset-mobil{
        display: none;
    }
    
    
    .köp-knapp{
        background-color: #1E2A96;
        color: white;
        border-radius: 30px;
        padding: 1.5vh 16vw;
        font-size: 1.2rem;
        font-weight: bold;
        margin-top: 1vh;
        border-color: #1E2A96;
    }




    main{
        grid-column: 2;
        grid-row: 3/4;

    }

    footer{
        grid-column: 1 / 3;
        grid-row: 4;
    }
    

    }


  



