body{
   flex-direction: column;
   display: flex; 
   margin: 0;
   padding: 0;
}

header{
    background-color: #191919;
}

#logga{
    display: none;
}

#vagn{
    width: auto;
    height: 4.5vh;
    margin-bottom: -1vh;
    margin-left: 30vw;

}

#filter{
    width: auto;
    height: 2.5vh;
    margin-top: 2vh;
}

/*Nav bar för mobil styling*/

nav {
    background-color: #191919;
    overflow: hidden;
  }
  
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vw;
    text-decoration: none;
    font-size: 1.5rem;
}
  
.active {
    background-color: #191919;
    color: white;
}
  
nav .icon {
    display: none;
}
  
.icon {
    float: left;
    overflow: hidden;
}
  
.icon .iconbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #AFADBC;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.icon-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.icon-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
nav a:hover, .icon:hover .iconbtn {
    background-color: #191919;
    color: white;
}
  
.icon-content a:hover {
    background-color: white;
    color: black;
}
  
.icon:hover .icon-content {
    display: block;
}
  
@media screen and (max-width: 600px) {
    nav a:not(:first-child), .icon .iconbtn {
      display: none;
    }
    nav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    nav.responsive .icon {float: none;}
    nav.responsive .icon-content {position: relative;}
    nav.responsive .icon .iconbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }





